@charset "utf-8";
/*====================登录样式==================*/
.login_bg{
	background: #fff url(images/login_bg.jpg) repeat-x left top!important;
}
.login_main {
	width: 891px;
	margin:0 auto;
}
.login_logo{
	width:891px;
	background: url(images/login_zf.jpg) no-repeat right top;
	margin-top:22px;
	text-align:left;
	min-height:90px;
	_height:90px;
}
.login_logo h2,.login_logo h3{
	margin-top:20px;
	float:left;
}
/*
.login_logo .logo{
	margin-top:30px;
}*/

.login_left{
	float:left;
	height:340px;
	width:426px;
	background: url(images/login_left.jpg) no-repeat;
}
.login_left1{
	float:left;
	height:340px;
	width:426px;
	background: url(images/login_left1.jpg) no-repeat;
	position:relative;
}
.login_left1 .login_news{
	width:290px;
	height:160px;
	position:absolute;
	top:75px;
	left:20px;
}
.login_left1 .login_news h3{
	font-size:14px;
	height:22px;
	padding-left:5px;
	font-weight:bold;
	color:#0D489A;
	text-align:left;
}
.login_left1 ul{
	width:100%;

}
.login_left1 ul li{
	text-align:left;
	height:20px;
	float:left;
	
}
.login_left1 ul li a{
	float:left;
	font-size:12px;
	line-height:20px;
	padding-left:10px;
	width:72%;
	color:#000;
	background:url(images/ico_loginnew.gif) no-repeat left 40%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.login_left1 ul li a:visited{color:#000;}
.login_left1 ul li a:hover{
	color:#000;
	text-decoration:underline;
}
.login_left1 .time{
	float:right;
	font-size:12px;
	color:#000;
}

.login_left .login_pic{
	margin:29px 0 0 0;
}
.login_right{
	float:left;
	height:340px;
	width:462px;
	background: url(images/login_right.jpg) no-repeat;
	text-align:left;
}
.login_right dl{
	margin:92px 0 0 105px;
	width:220px;min-height:150px;_height:150px;
}
.login_copyright a{
	display:inline-block;
	color:#60819D!important;
	height:23px;
	line-height:23px;
	background:url(images/logo_copy.gif) no-repeat left center;
	padding-left:25px;
	}
.login_copyright a:hover{
	text-decoration:none;
	color:#0474D2!important;
	background:url(images/logo_copyhov.gif) no-repeat left center;
	}
.login_copyright span {
	display:inline-block;
	color:#60819D;
	height:23px;
	line-height:23px;
	}

.login_right .btn_dl,.login_right .btn_cz{
	height: 20px;
	width:58px;
	margin:0 4px;
}
.login_right .uesr{
	background:  url(images/login_ico2.gif) no-repeat left 0;
	text-indent:1.5em;
}
.login_right .passw{
	background:  url(images/login_ico2.gif) no-repeat left -28px;
	text-indent:1.5em;
}
.login_right .zymc{
	background:  url(images/login_ico2.gif) no-repeat left -58px;
	text-indent:1.5em;
}
.login_right .yzm{
	background:  url(images/login_ico2.gif) no-repeat left -88px;
	text-indent:1.5em;
}
.login_right .btn_dl{
	background:  url(images/login_in.gif) no-repeat;
}
.login_right .btn_dl:hover{
	background:  url(images/login_in.gif) no-repeat;
}
.login_right .btn_cz{
	background:  url(images/login_res.gif) no-repeat;
}
.login_right .btn_cz:hover{
	background:  url(images/login_res.gif) no-repeat;
}

/*====================报头样式==================*/
.head {
	background: #fff url(images/head_bg.gif) repeat-x left top;
}

/*====================学校图片====================*/
.head .logo {
    float: left;
	background: url(images/head_leftbg.gif) no-repeat left top;
}
.head .logo h2,.head .logo h3{
	float: left
}
/*==================用户信息多功能区====================*/
.info {
	background: url(images/info_bg.gif) no-repeat right top;
	width:390px;
	height:60px;
	color:#000;
}
.info li{
	background: url(images/linge_3.gif) no-repeat right 40%;
	*background: url(images/linge_3.gif) no-repeat right 50%;
}
.info a{
	color:#000;
	padding:1px;
}
.info a:hover{
	color:#fff;
	background:#2358AE
}
.info ul{

}
.info li{
	display:inline;
	height:23px;
	line-height:23px;	
}
/*===================横向导航样式====================*/
.nav {
	height: 25px;
	background: #C7DEFC url(images/nav_bg.gif) repeat-x left top;
}
.nav li a.top_link {
	height: 25px;
	line-height: 25px;
	color: #3F6FC3;
	padding: 0 0 0 5px;
	background: url(images/nav_lige.gif) no-repeat right bottom;
}

.nav li a.top_link span {
	padding: 0 24px 0 12px;
	height: 25px;
}

.nav li a.top_link span.down {
	padding: 0 24px 0 12px;
	height: 25px;
	background: url(images/nav_bg_down.gif) no-repeat right top;
}

.nav li a.top_link:hover {
	color: #11449E;
	background: url(images/nav_lilefthover.gif) no-repeat;
}

.nav li a.top_link:hover span {
	background: url(images/nav_lirighthover.gif) no-repeat right top;
}

.nav li a.top_link:hover span.down {
	background: url(images/nav_lirighthover_down.gif) no-repeat right top;
}

.nav li:hover > a.top_link {
	color: #11449E;
	background: url(images/nav_lilefthover.gif) no-repeat;
}

.nav li:hover > a.top_link span {
	background: url(images/nav_lirighthover.gif) no-repeat right top;
}

.nav li:hover > a.top_link span.down {
	background: url(images/nav_lirighthover_down.gif) no-repeat right top;
}
.nav :hover ul.sub {
	top: 22px;
	_background: url(images/nav_sub_bg.gif) repeat-y left top;/*IE6有效*/
	background: url(images/nav_sub_bg.png) repeat-y left top;/*IE7FF有效*/
	padding: 3px;
	border: 1px solid #3a93d2;

}

.nav :hover ul.sub li {
	height: 20px;
}

.nav :hover ul.sub li a {
	height: 20px;
	line-height: 20px;
	text-indent: 15px;
	color: #11449E;
}

.nav :hover ul.sub li a.fly {
	background: url(images/nav_arrow.gif) 80px 7px no-repeat;
}

.nav :hover ul.sub li a:hover {
	background: #3a93d2;
	color: #fff;
}

.nav :hover ul.sub li a.fly:hover {
	background: #3a93d2 url(images/nav_arrow_over.gif) 80px 7px no-repeat;
	color: #fff;
}

.nav :hover ul li:hover > a.fly {
	background: #3a93d2 url(images/nav_arrow_over.gif) 80px 7px no-repeat;
	color: #fff;
}
 
.nav :hover ul :hover ul,
.nav :hover ul :hover ul :hover ul,
.nav :hover ul :hover ul :hover ul :hover ul,
.nav :hover ul :hover ul :hover ul :hover ul :hover ul {
	top: -3px;
	_background:url(images/nav_sub_bg.gif) repeat-y left top;/*IE6有效*/
	background:url(images/nav_sub_bg.png) repeat-y left top;/*IE7FF有效*/
	padding: 3px;
	border: 1px solid #3a93d2;
}
/*========主导航====简单型===========*/
.nav_simp{
	height: 29px;
	background: #C7DEFC url(images/nav_simp_bg.gif) repeat-x left top;
}
.nav_simp li{
	line-height:29px;
	background: url(images/nav_lige2.gif) no-repeat right top;
}
.nav_simp li a{
	color:#002B8D;
	padding:7px 10px 5px 0px;
	*padding:0px 10px 5px 0px;
}
.nav_simp li a span{
	color:#002B8D;
	padding:7px 3px 5px 17px;
	*padding:9px 0 5px 17px;
}
.nav_simp li a:hover{
	background: url(images/nav_simp_current.gif) no-repeat right top;
	padding:7px 10px 5px 0px;
	*padding:0px 10px 5px 0px;
	color:#fff;
}
.nav_simp li a:hover span{
	background: url(images/nav_simp_current.gif) no-repeat left top;
	padding:7px 3px 5px 17px;
	*padding:9px 0 5px 17px;
	color:#fff;
}
.nav_simp li.current a{
	background: url(images/nav_simp_current.gif) no-repeat right top;
	padding:7px 10px 5px 0px;
	*padding:0px 10px 5px 0px;
	color:#fff;
}
.nav_simp li.current a span{
	background: url(images/nav_simp_current.gif) no-repeat left top;
	padding:7px 3px 5px 17px;
	*padding:9px 0 5px 17px;
	color:#fff;
}
.nav_simp .popnav_open a:hover{
	background:none;
}
.nav_simp .popnav_open a:hover span{
	background:none;
	color:#002B8D;
}
.nav_simp .popnav_open ul a,.nav_simp .popnav_open ul a span,.nav_simp .popnav_open ul a:hover,.nav_simp .popnav_open ul a:hover span{
	padding:0;
	*padding:0;
}
.nav_simp .popnav_close ul{
	display:none
}
.nav_simp .popnav_open{
	position:relative;
	z-index:999
}
.nav_simp .popnav_open ul{
	border:1px solid #8BB8D5;
	background:url(images/nav_sub_bg.png) repeat-y left top;
	position:absolute;
	left:10px;
	top:22px;
	padding:3px;
}
.nav_simp .popnav_open ul li{
	background:none;
	text-indent:12px;
}
.nav_simp .popnav_open ul a{
	color:#807668;
	display:block;
	width:100px;
	line-height:20px;
	text-decoration: none;
}
.nav_simp .popnav_open ul a:hover{
	background:#2358AE;
}
.nav_simp .popnav_open ul a:hover span{
	color:#FFF;
}
/*===================左边树形航样式====================*/
.nav_leftsub{
	border:1px solid #A8BBD6;
	margin:5px 0 0 2px;
}
.nav_leftsub li a.toplink{
	background: url(images/left_nav_bg.gif) no-repeat right top;
	height:22px;
	line-height:22px;
	width:100%;
	border-bottom:1px solid #A8BBD6;
	text-indent:1.5em;
	font-weight:bold;
}
.nav_leftsub li a.toplink span{
	color: #11449E;
}
.nav_leftsub ul .current a{
	background:#ADC8EA;
} 
.nav_leftsub ul a{
	text-indent:2em;
	background:#F0F6FE;
	border-bottom:1px solid #8CADD7;
	font-weight:normal;
	color: #11449E;
}
.nav_leftsub ul a:hover{;
	background:#ADC8EA;
}
/*==============主内容框架==============*/
.content {
	background: #fff url(images/tab_bg.gif) repeat-x left top;
}
/*============选项卡样式===当前位置==图标=============*/
/*=========当前位置===========*/
.tab {
	width:100%;
	text-align:left;
}
.location {}
.location em {
	background:url(images/icons.gif) no-repeat -50px 0;
	padding-left:1.4em;
}
*+html .location em {
	background:url(images/icons.gif) no-repeat -50px 0;
	padding-left:1.4em;
}
/*=====左右结构样式的=收缩卡样式==============*/
.retract {
	background: url(images/retract_bg.gif) repeat-y;
	width: 6px;
	margin-top:2px;
}
.retract a {
	background: url(images/retract_bar.gif) no-repeat;
	height: 69px;
	width: 6px;
}
.retract a:hover {
	background-position: 0 -69px;
}
.retract_on {
	background: url(images/retract_bg.gif) repeat-y;
	width: 6px;
}
.retract_on a {
	background: url(images/retract_bar.gif) no-repeat;
	background-position: -6px 0;
	height: 69px;
	width: 6px;
}
.retract_on a:hover {
	background-position: -6px -69px;
}
/*=======================多功能区样式=====================*/
.toolbox {
	background: url(images/toolbox_right.gif) no-repeat right top;
}

.toolbox .buttonbox {
	background: url(images/toolbox_left.gif) no-repeat left top;
}

p.toolbox_fot {
	background: url(images/toolbox_right.gif) no-repeat right bottom;
}

p.toolbox_fot em {
	background: url(images/toolbox_left.gif) no-repeat left bottom;
}
/*=========隐藏显示按钮区样式=========*/
.buttonbox .btn_yc {
	background: url(images/button.gif) no-repeat -100px -18px;
	height: 17px;
	width: 17px;
}
.buttonbox .btn_xs {
	background: url(images/button.gif) no-repeat -100px -35px;
	height: 17px;
	width: 17px;
}
/*=========按钮区样式==========*/
.buttonbox ul {
	background: url(images/buttonbox_line.gif) repeat-x left bottom;
}

.buttonbox li {
	background: url(images/buttonbox_cell.gif) repeat-y right center;
}

/*=========过滤区样式======底部样式和左右有问题====*/
.searchbox {
/*=	background: url(images/search_right.gif) no-repeat right top;=*/
}
.searchbox p.search_con {
/*=		background: url(images/search_left.gif) no-repeat left top;=*/
}
.searchbox p.search_title {
/*=		background: url(images/search_right.gif) no-repeat right bottom;=*/
	color: #809CCE;
}
.searchbox p.search_title em {
/*=		background: url(images/search_left.gif) no-repeat left bottom;=*/
	color: #809CCE;
}

/*=======主内容顶部框=======*/
.main_box {
	background: #fff url(images/con_midright.gif) repeat-y right top;
}
.mid_box {
	background: url(images/con_midleft.gif) repeat-y left top;
}

/*==========多项选择========*/
#xxk {
	background: url(images/xxk_bg.gif) repeat-x left bottom;
	margin-top:2px;
	height:25px;
}
#xxk li a {
	font-weight: bold;
	color: #8A9DB8;
}
#xxk li a:hover {
	color: #234C83;
}

#xxk li.current {
	background: url(images/xxk_righton.gif) no-repeat right top;
}

#xxk li.current a {
	background: url(images/xxk_lefton.gif) no-repeat left top;
	color: #234C83;
}
#xxk span {
	background: url(images/xxk_close.gif) no-repeat right center;
	height:15px;
	width: 12px;
}
#xxk h2 {
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}

#xxk h3 {
	margin-top: 5px;
	margin-right: 15px;
	font-size: 12px;
	font-weight: bold;
}
/*=======查询结果数据量样式=====*/
.mid_box .title {
	background: url(images/con_topright.gif) no-repeat right top;
}
.mid_box .title p {
	background: url(images/con_topleft.gif) no-repeat left top;
}

/*===============分页内容区域样式===================*/
.footbox {
	background: url(images/con_botright.gif) no-repeat right bottom;
}

.footbox .footbox_con {
	background: url(images/con_botleft.gif) no-repeat left bottom;
}
.footbox .pagination a{
	color:#11449E;
	}
/*==================尾部内容样式==========*/
.footer {
	background: #fff url(images/footer_r.gif) no-repeat right bottom;
}
.footer a{
	display:inline-block;
	color:#60819D!important;
	height:23px;
	line-height:23px;
	background:url(images/logo_copy.gif) no-repeat left center;
	padding-left:25px;
	}
 .footer a:hover{
	text-decoration:none;
	color:#0474D2!important;
	background:url(images/logo_copyhov.gif) no-repeat left center;
	}
.footer span {
	display:inline-block;
	color:#60819D;
	height:23px;
	line-height:23px;
	}
/*==================弹出窗口样式==========*/
.open_win{
	border: solid #4D76AB;
	border-width:0 1px 1px 1px;
	}
.open_win h3{
	background: #CBDCF1 url(images/open_win_title.gif) repeat-x left top;
	border-bottom:1px solid #7C98BD;;
	}
.open_win h3 em{
	color:#11449E;
	background:url(images/icons.gif) no-repeat;
	background-position: -50px -38px;
	}
/*==============弹出提示层=========*/
.main1{
	border: solid #4D76AB;
	border-width:0 1px 1px 1px;
	background:#fff;
	}
	
.main1 .title {
	background: #CBDCF1 url(images/open_win_title.gif) repeat-x left top;
	border-bottom:1px solid #7C98BD;;
}

.main1 .title .title_m {
	text-align:Left;
	margin:2px 0 2px 10px;
}
.main1 p a{
	padding: 0 4px;
	background: #ECF1F7 url(images/button_nor.gif) repeat-x left top;
	cursor: pointer;
	color: #003300;
	margin: 0 2px;
	letter-spacing: 0.2em;
	border: 1px solid #8AA4C4;
	height: 20px;
	}
.main1 button{
	padding: 0 4px;
	background: #ECF1F7 url(images/button_nor.gif) repeat-x left top;
	cursor: pointer;
	color: #003300;
	margin: 0 2px;
	letter-spacing: 0.2em;
	border: 1px solid #8AA4C4;
	height: 20px;
	}
.main1 input{
	padding: 0 4px;
	background: #ECF1F7 url(images/button_nor.gif) repeat-x left top;
	cursor: pointer;
	color: #003300;
	margin: 0 2px;
	letter-spacing: 0.2em;
	border: 1px solid #8AA4C4;
	height: 20px;
	}
/*=========提示弹出层===========*/
/*========弹出提示层==新=======*/
.notice_open{
	border: solid #4D76AB;
	border-width:0 1px 1px 1px;
	background:#fff;
}
.notice_open h3 {
	background: #CBDCF1 url(images/open_win_title.gif) repeat-x left top;
	border-bottom:1px solid #7C98BD;
}
.notice_open .con span{
	background:url(images/icons.gif) no-repeat -50px -140px;
}
/*=========提示弹出层===========*/
.noticehelp{
	background:#FFFFE1;
	border:1px solid #000;
}

/*=========选择背景===========*/
.choosepeople{
	height:18px;
	line-height:18px;
	letter-spacing:1px;
	margin-left:3px;
	padding:2px 8px;
	padding-right:12px;
	text-align:center;
	background:url(images/xuanze_bg.gif) no-repeat left center;
}
