<footer class="footer" style="background: #fff">
  <div class="container">
    <div class="content is-pulled-right">
      <a href="https://weibo.com/iscnu" class="contact contact-weibo" target="_blank"></a>
    </div>
    <div class="content has-text-left">
      <p>Copyright © 2008-2018 <a href="https://i.scnu.edu.cn/about" target="_blank">ISCNU</a>. All rights Reserved.<br><a href="https://i.scnu.edu.cn/about" target="_blank" style="color:#38485a; text-decoration:none">华南师范大学网络协会</a> 版权所有</p>
    </div>
  </div>
</footer>
