<!-- ISCNU TECHNOLOGY DEPARTMENT -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <section class="hero is-medium is-info is-bold">
      <div class="hero-body" style="padding-top: 5em; padding-bottom: 5em;">
        <div class="container">
          <h1 class="title">
            课表 iCal 导出工具
          </h1>
          <h2 class="subtitle">
            一键将您的课表导入到系统日历中
          </h2>
          <a class="button is-primary" href="generate">立即导出</a> <a href="doc" class="button" style="margin-left: 5px;">使用指引</a>
        </div>
      </div>
    </section>
    <section class="section part">
      <div class="container">
        <h1 class="title has-text-centered">课程表与系统日历的完美结合</h1>
        <p class="has-text-centered">
        iCal 是一种跨平台的日历数据格式，本网站可将教务课表网页转换为 iCal 日程表格式的文件供您导入到系统中<br>无需任何第三方APP，也无任何副作用（流氓推广、无用的社交功能、费电）
        </p>
        <p class="has-text-centered" style="margin-top: 10px;"><img class="screenshot" src="static/images/screenshot-1.png" style="width: 650px;"></p>
      </div>
    </section>
    <section class="section part" style="background: rgb(245, 245, 245);">
      <div class="container">
        <h1 class="title has-text-centered">全平台云端同步课表</h1>
        <p class="has-text-centered">
          通过现今手机与电脑强大的云同步功能，可以实现课表的云端同步，只需几步操作，即可让您的手机和电脑同时支持课表功能。
        </p>
        <!-- <p class="has-text-centered" style="margin-top: 10px;"><img src="static/images/screenshot-2.jpg" style="width: 650px;"></p> -->
        <div class="container" style="padding: 0 25px;">
          <div class="columns" style="margin-top: 10px;">
            <div class="column is-one-third has-text-centered">
              <img class="screenshot" src="static/images/screenshot-2.jpg" alt="手机端" style="max-height: 350px;">
            </div>
            <div class="column is-two-thirds has-text-centered">
              <img class="screenshot" src="static/images/screenshot-3.png" alt="网页端" style="max-height: 350px;">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section part">
      <div class="container">
        <h1 class="title has-text-centered">课前提醒功能</h1>
        <p class="has-text-centered">
          本程序支持设置导出日历事件的提前提醒，课前通过手机、电脑系统通知的形式，提醒您上课时间与地点<br>让您再也不需要匆匆忙忙打开相册掏出课表寻找上课的教室。
        </p>
        <!-- <p class="has-text-centered" style="margin-top: 10px;"><img class="screenshot" src="static/images/screenshot-4.jpg" style="max-height: 400px;"></p> -->
        <div class="container" style="padding: 0 25px; max-width: 600px;">
          <div class="columns" style="margin-top: 10px;">
            <div class="column has-text-centered">
              <img class="screenshot" src="static/images/screenshot-4.jpg" alt="手机端" style="max-height: 350px;">
            </div>
            <div class="column has-text-centered">
              <img class="screenshot" src="static/images/screenshot-5.jpg" alt="Windows" style="max-height: 350px;">
            </div>
          </div>
        </div>
        <p class="has-text-centered" style="margin-top: 1em;">
          我们已经对三校区的作息时间进行了分别适配<br>即使您选了另一个校区的课程，上下课时间都会自动和相应校区的作息时间自动匹配<br>
        </p>
      </div>
    </section>
    <section class="section part" style="background: rgb(245, 245, 245);">
      <div class="container">
        <h1 class="title has-text-centered">高级玩法</h1>
        <p class="has-text-centered">
          将课表导入日历以后，Siri, Cortana 这些智能助理也能派上用场啦！更多惊喜，待您发现^_^
        </p>
        <div class="container" style="padding: 0 25px; max-width: 600px;">
          <div class="columns" style="margin-top: 10px;">
            <div class="column has-text-centered">
              <img class="screenshot" src="static/images/screenshot-7.jpg" alt="Siri" style="max-height: 350px;">
            </div>
            <div class="column has-text-centered">
              <img class="screenshot" src="static/images/screenshot-6.png" alt="Cortana" style="max-height: 350px;">
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('footer'); %>
  </body>
</html>
