
@media screen and (min-width: 1408px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

.screenshot {
  border: 1px solid #ccc;
}

.part {
  min-height: 650px;
}

table {
    font-size: 12px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td {
    border: 1px solid gray;
}

table tr {
    height: 50px;
}

table td {
    width: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.steps-content {
  font-size: 1rem;
}

.first-col {
  width: 18px;
  padding: 2px;
}

.first-row {
  height: 12px;
  font-size: 13px;
}

.first-row td {
  padding: 2px;
}

/* 模态框 */
.model-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(230, 230, 230, 0.57);
  z-index: 9999;
}
.model-container {
  position: relative;
  margin-top: 80px;
  width: 420px;
  min-height: 410px;
  background: aliceblue;
  padding: 10px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* 关闭按钮 */
.close-button {
 position: absolute;
 top: 10px;
 right: 15px;
 height: 15px;
 width: 15px;
}

/* 弹框 */
.model-confirm {
 position: relative;
 margin-top: 20vh;
 width: 300px;
 background: #fff;
 padding: 10px 20px 20px;
 margin-left: auto;
 margin-right: auto;
 min-height: 150px;
}
.model-confirm .buttons {
  text-align: right;
  margin-bottom: 0;
  position: absolute;
  right: 1em;
  bottom: 5px;
}
.model-confirm .buttons button {
 margin-left: 5px;
}

.model-content {
  margin-top: 10px;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(32, 156, 238, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: rgb(32, 156, 238);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.contact,.contact-email,.contact-wechat,.contact-weibo {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 10em;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icon_contact.png) no-repeat;
    background-size: 65px
}

.contact-wechat {
    background-position: -40px 0
}

.contact-wechat:hover {
    background-position: 0 0
}

.contact-qq {
    background-position: -40px -30px
}

.contact-qq:hover {
    background-position: 0 -30px
}

.contact-weibo {
    background-position: -40px -60px
}

.contact-weibo:hover {
    background-position: 0 -60px
}

.contact-email {
    background-position: -40px -90px
}

.contact-email:hover {
    background-position: 0 -90px
}
